.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.-bottom-2 {
  bottom: -0.5rem
}

.-right-4 {
  right: -1rem
}

.-top-24 {
  top: -6rem
}

.bottom-0 {
  bottom: 0px
}

.bottom-3 {
  bottom: 0.75rem
}

.bottom-6 {
  bottom: 1.5rem
}

.bottom-9 {
  bottom: 2.25rem
}

.left-0 {
  left: 0px
}

.left-6 {
  left: 1.5rem
}

.right-0 {
  right: 0px
}

.right-12 {
  right: 3rem
}

.right-4 {
  right: 1rem
}

.right-6 {
  right: 1.5rem
}

.right-8 {
  right: 2rem
}

.top-0 {
  top: 0px
}

.top-10 {
  top: 2.5rem
}

.top-14 {
  top: 3.5rem
}

.top-2 {
  top: 0.5rem
}

.top-5 {
  top: 1.25rem
}

.top-6 {
  top: 1.5rem
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-30 {
  z-index: 30
}

.z-50 {
  z-index: 50
}

.m-1 {
  margin: 0.25rem
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.-ml-1 {
  margin-left: -0.25rem
}

.-mr-1 {
  margin-right: -0.25rem
}

.-mt-12 {
  margin-top: -3rem
}

.-mt-20 {
  margin-top: -5rem
}

.-mt-48 {
  margin-top: -12rem
}

.-mt-6 {
  margin-top: -1.5rem
}

.-mt-8 {
  margin-top: -2rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-16 {
  margin-bottom: 4rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-8 {
  margin-bottom: 2rem
}

.ml-1 {
  margin-left: 0.25rem
}

.ml-4 {
  margin-left: 1rem
}

.mr-16 {
  margin-right: 4rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-0 {
  margin-top: 0px
}

.mt-0\.5 {
  margin-top: 0.125rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.h-1\/2 {
  height: 50%
}

.h-10 {
  height: 2.5rem
}

.h-12 {
  height: 3rem
}

.h-16 {
  height: 4rem
}

.h-20 {
  height: 5rem
}

.h-28 {
  height: 7rem
}

.h-3\/5 {
  height: 60%
}

.h-4\/6 {
  height: 66.666667%
}

.h-44 {
  height: 11rem
}

.h-48 {
  height: 12rem
}

.h-5\/6 {
  height: 83.333333%
}

.h-6 {
  height: 1.5rem
}

.h-8 {
  height: 2rem
}

.h-full {
  height: 100%
}

.w-0 {
  width: 0px
}

.w-0\.5 {
  width: 0.125rem
}

.w-1\/2 {
  width: 50%
}

.w-1\/3 {
  width: 33.333333%
}

.w-10 {
  width: 2.5rem
}

.w-11\/12 {
  width: 91.666667%
}

.w-12 {
  width: 3rem
}

.w-2\/6 {
  width: 33.333333%
}

.w-3\/5 {
  width: 60%
}

.w-3\/6 {
  width: 50%
}

.w-4\/5 {
  width: 80%
}

.w-5\/6 {
  width: 83.333333%
}

.w-full {
  width: 100%
}

.grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.self-end {
  align-self: flex-end
}

.self-center {
  align-self: center
}

.self-baseline {
  align-self: baseline
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem
}

.rounded-bl-md {
  border-bottom-left-radius: 0.375rem
}

.rounded-tr-sm {
  border-top-right-radius: 0.125rem
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.bg-blue-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.p-5 {
  padding: 1.25rem
}

.p-6 {
  padding: 1.5rem
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pb-11 {
  padding-bottom: 2.75rem
}

.pl-8 {
  padding-left: 2rem
}

.pl-9 {
  padding-left: 2.25rem
}

.pr-4 {
  padding-right: 1rem
}

.pt-4 {
  padding-top: 1rem
}

.pt-8 {
  padding-top: 2rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-justify {
  text-align: justify
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.capitalize {
  text-transform: capitalize
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.opacity-10 {
  opacity: 0.1
}

.opacity-20 {
  opacity: 0.2
}

.opacity-40 {
  opacity: 0.4
}

.opacity-50 {
  opacity: 0.5
}

.opacity-60 {
  opacity: 0.6
}

.opacity-70 {
  opacity: 0.7
}

.opacity-80 {
  opacity: 0.8
}